[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=onvifviewer %u
_Name=ONVIFViewer
Icon=net.meijn.onvifviewer
_Comment=View and control network cameras using the ONVIF protocol
Categories=Network;Qt
MimeType=x-scheme-handler/onvif;
